@import "src/assets/style/vairables";

.G-checkbox {
  width         : 18px;
  height        : 18px;
  border-radius : 4px;
  position      : relative;
  border        : 2px solid $main-color;
  cursor        : pointer;
  display       : block;
  transition    : $transition;

  &:before {
    width         : 3px;
    height        : 8px;
    border        : 2px solid $white;
    border-right  : none;
    border-bottom : none;
    transform     : rotate(220deg);
    transition    : $transition;
    position      : absolute;
    content       : '';
    left          : 5px;
    top           : 1px;
    opacity       : 0;
    visibility    : hidden;
  }

  &.G-checked {
    background-color : $main-color;

    &:before {
      opacity    : 1;
      visibility : visible;
    }
  }
}